@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll behavior */
html,
body {
	scroll-behavior: smooth !important;
}

/* Progress bar transition */
progress::-webkit-progress-value {
	transition: 0.6s width ease-out;
}

/* Custom gradient button with shimmer */
.btn-gradient {
	background: linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82
	);
	background-size: 300% 300%;
	animation: shimmer 3s ease-out infinite alternate;
	border: 0;
	border-color: transparent;
	color: white;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	transition-duration: 100ms;
}

.btn-gradient:hover {
	filter: saturate(1.2);
}

.btn-gradient:disabled {
	background: rgb(107 114 128 / 0.3);
	animation: none;
}

/* Override DaisyUI button capitalization */
.btn {
	text-transform: capitalize !important;
}
