---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Terms of Service - TrakRF';
const description = 'Terms of Service for TrakRF - your rights and responsibilities';
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-3xl px-8 py-24">
		<a href="/" class="btn btn-ghost mb-6">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="h-5 w-5"
			>
				<path
					fill-rule="evenodd"
					d="M15 10a.75.75 0 01-.75.75H7.612l2.158 1.96a.75.75 0 11-1.04 1.08l-3.5-3.25a.75.75 0 010-1.08l3.5-3.25a.75.75 0 111.04 1.08L7.612 9.25h6.638A.75.75 0 0115 10z"
					clip-rule="evenodd"></path>
			</svg>
			Back
		</a>

		<h1 class="mb-6 text-3xl font-extrabold">Terms and Conditions for TrakRF</h1>

		<pre
			class="whitespace-pre-wrap font-sans leading-relaxed">{`Last Updated: October 20, 2025

Welcome to TrakRF!

These Terms of Service ("Terms") govern your use of the TrakRF website at https://trakrf.id ("Website") and the services provided by TrakRF. By using our Website and services, you agree to these Terms.

1. Description of TrakRF

TrakRF is a platform that offers a JavaScript code boilerplate to assist entrepreneurs in launching their startups more efficiently.

2. Ownership and Usage Rights

When you purchase a package from TrakRF, you gain the right to download and use the code provided for creating applications. You own the code you create but do not have the right to resell it. We offer a full refund within 7 days of purchase, as specified in our refund policy.

3. User Data and Privacy

We collect and store user data, including name, email, and payment information, as necessary to provide our services. For details on how we handle your data, please refer to our Privacy Policy at https://trakrf.id/privacy-policy.

4. Non-Personal Data Collection

We use web cookies to collect non-personal data for the purpose of improving our services and user experience.

5. Governing Law

These Terms are governed by the laws of the United States of America.

6. Updates to the Terms

We may update these Terms from time to time. Users will be notified of any changes via email.

For any questions or concerns regarding these Terms of Service, please contact us at support@trakrf.id.

Thank you for using TrakRF!`}</pre>
	</div>
</BaseLayout>
