<section class="hero relative min-h-screen overflow-hidden">
	<div
		class="absolute inset-0 bg-cover bg-center"
		style="background-image: url('/images/hero.jpg')"
	>
	</div>
	<div class="hero-overlay relative bg-neutral bg-opacity-70"></div>
	<div class="hero-content relative p-8 text-center text-neutral-content">
		<div class="flex max-w-xl flex-col items-center p-8 md:p-0">
			<h2 class="mb-8 text-3xl font-bold tracking-tight md:mb-12 md:text-5xl">
				Manage and configure your RFID hardware, integrate RFID data into your apps
			</h2>
			<p class="mb-12 text-lg opacity-80 md:mb-16">
				Don't waste time figuring out how to get RFID data into your apps. We've got you covered.
			</p>
			<a href="#pricing" class="btn btn-primary btn-wide"> Get Started </a>
		</div>
	</div>
</section>
