<section class="bg-base-200" id="faq">
	<div class="mx-auto flex max-w-7xl flex-col gap-12 px-8 py-24 md:flex-row">
		<div class="flex basis-1/2 flex-col text-left">
			<p class="mb-4 inline-block font-semibold text-primary">FAQ</p>
			<p class="text-3xl font-extrabold text-base-content sm:text-4xl">
				Frequently Asked Questions
			</p>
		</div>

		<ul class="basis-1/2">
			<!-- FAQ Item 1 -->
			<li x-data="{ open: false }">
				<button
					@click="open = !open"
					class="relative flex w-full items-center gap-2 border-t border-base-content/10 py-5 text-left text-base font-semibold md:text-lg"
					:aria-expanded="open"
				>
					<span class="flex-1 text-base-content" :class="{ 'text-primary': open }">
						What do I get exactly?
					</span>
					<svg
						class="ml-auto h-4 w-4 flex-shrink-0 fill-current"
						viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center transform transition duration-200 ease-out"
							:class="{ 'rotate-180': open }"></rect>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center rotate-90 transform transition duration-200 ease-out"
							:class="{ 'rotate-180 hidden': open }"></rect>
					</svg>
				</button>
				<div x-show="open" x-collapse class="pb-5 leading-relaxed opacity-80">
					You get full access to the TrakRF RFID data collection and management tools
				</div>
			</li>

			<!-- FAQ Item 2 -->
			<li x-data="{ open: false }">
				<button
					@click="open = !open"
					class="relative flex w-full items-center gap-2 border-t border-base-content/10 py-5 text-left text-base font-semibold md:text-lg"
					:aria-expanded="open"
				>
					<span class="flex-1 text-base-content" :class="{ 'text-primary': open }">
						Can I get a refund?
					</span>
					<svg
						class="ml-auto h-4 w-4 flex-shrink-0 fill-current"
						viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center transform transition duration-200 ease-out"
							:class="{ 'rotate-180': open }"></rect>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center rotate-90 transform transition duration-200 ease-out"
							:class="{ 'rotate-180 hidden': open }"></rect>
					</svg>
				</button>
				<div x-show="open" x-collapse class="pb-5 leading-relaxed opacity-80">
					Yes! You can request a refund within 7 days of your purchase. Reach out by email.
				</div>
			</li>

			<!-- FAQ Item 3 -->
			<li x-data="{ open: false }">
				<button
					@click="open = !open"
					class="relative flex w-full items-center gap-2 border-t border-base-content/10 py-5 text-left text-base font-semibold md:text-lg"
					:aria-expanded="open"
				>
					<span class="flex-1 text-base-content" :class="{ 'text-primary': open }">
						I have another question
					</span>
					<svg
						class="ml-auto h-4 w-4 flex-shrink-0 fill-current"
						viewBox="0 0 16 16"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center transform transition duration-200 ease-out"
							:class="{ 'rotate-180': open }"></rect>
						<rect
							y="7"
							width="16"
							height="2"
							rx="1"
							class="origin-center rotate-90 transform transition duration-200 ease-out"
							:class="{ 'rotate-180 hidden': open }"></rect>
					</svg>
				</button>
				<div x-show="open" x-collapse class="pb-5 leading-relaxed opacity-80">
					Cool, contact us by email
				</div>
			</li>
		</ul>
	</div>
</section>
